{{text}}

<div class="answer">
	<button class="btn{{#if answerYes}} btn-inverse{{/if}}"{{#if answer}} disabled="disabled"{{/if}}>Ja</button>
	<button class="btn{{#if answerNo}} btn-inverse{{/if}}"{{#if answer}} disabled="disabled"{{/if}}>Nein</button>
</div>